@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    /* colors */
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-charcoal-blue: #212A31;
    --dark-slate-gray: #2E3944;
    --deep-teal-blue: #124E66;
    --muted-steel-blue-grey: #748D92;
    --light-grey-green: #D3D9D4;

    /* box-shadow */
    --shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.15);
    --shadow-hover: 0 6px 16px rgba(0, 0, 0, 0.5);

    /* font-size */
    --font-xs: 0.75em;   /* ~12px */
    --font-sm: 0.875em;  /* ~14px */
    --font-base: 1em;    /* 16px base */
    --font-md: 1.125em;  /* ~18px */
    --font-lg: 1.25em;   /* ~20px */
    --font-xl: 1.5em;    /* ~24px */
    --font-2xl: 2em;     /* ~32px */
    --font-3xl: 2.5em;   /* ~40px */
}

a{
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--font-sm);
}
ul{
    list-style-type: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
button{
    border: none;
}

/*
font used: 
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Montserrat", sans-serif;

icons: 
    user icon      - <i class="fa-solid fa-user"></i>
    admin icon     - <i class="fa-solid fa-user-tie">
*/


/* img floating */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
.floating-logo {
  animation: float 2s ease-in-out infinite;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}